body {
  display: none;
}

/* Font sizes
   ========================================================================== */

.ya_font_size .serp-item .Typo {
  font-weight: 300 !important;
  font-size: 1.2em !important;
}

.ya_font_size .serp-item h2.Typo {
  white-space: nowrap;
}


.ya_font_size .serp-item .Typo_text_m {
  font-size: 1.06em !important;
  line-height: 1.45 !important;
}

.ya_font_size .serp-item .Path {
  margin: 2px 0;
  font-weight: 700;
}

.ya_font_size .serp-item .TextContainer b {
  font-weight: 600;
}

.ya_font_size .serp-item .Sitelinks_size_m {
  height: 1.5em;
}

/* Fonts
   ========================================================================== */
.ya_fonts .Typo {
  font-family: Arial, Helvetica, sans-serif !important;
}

/* Side panel
   ========================================================================== */
.ya_side_panel #search-result-aside {
  display: none !important;
}
